version: "3.9"

services:
  frontend:
    container_name: rotacred_front
    build: .
    restart: always
    ports:
      - "3000:80"
    networks:
      - app_net
    depends_on:
      - app 

networks:
  app_net:
    external: true